<html>
    <body>
        <div class="container">
            <a href="<%=url%>" class="button" style="margin-left: 30;margin-top: 30;">Access GDrive</a>
        </div>
    </body>
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          background-color: rgb(171, 39, 39);
          color: rgb(255, 255, 255);
          text-decoration: none;
          font-size: 16px;
          border-radius: 5px;
        }
    </style>
</html>